:root {
    --shadowColor: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    display: flex;
    justify-content: center;
}
.container {
    display: grid;
    grid-template-rows: 2fr 1fr 20fr;
    height: 100vh;
    width: 60vw;
    max-width: 60vw;
    min-width: 500px;


 grid-auto-flow: column;
}

.header {
    display: grid;
    grid-template-columns: 4fr 3fr 4fr;
    background-color: aqua;
    grid-column: span 8;
    min-height: 80px;
}
.nav {
    background-color: rgb(138, 115, 54);
    grid-column: span 8;
    min-height: 40px;
}
.cards {
    background-color: rgb(208, 238, 37);
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7em, 10em));
    grid-template-rows: repeat(auto-fit, minmax(10em, 15em));
    justify-content: center;
    
}

.login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 2em;
    background-color: rgb(34, 43, 119);
    padding: 2%;
    color: #F5F3F5;
}

.logo {
    background-image: url("../img/logo.svg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    
}
.stats {
    background-color: rgb(133, 13, 39);
}

/* card styling */

.card {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* background-color: #F5F3F5; */
    margin: 4%;
    border-radius: 10px;
    box-shadow: var(--shadowColor);
    transform: translate(0%,0%);
}

.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.card .image img {
    width: 100%;
    transition: .5s;
}
.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 83%;/*100%*/
    height: 100%;
    background: #ffc107;
    border-radius: 10px;
    box-shadow: var(--shadowColor);
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    gap: 10px;
    transform: translateY(-50%);
}

.title, .author {
    overflow-wrap: break-word;
    overflow: hidden;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: hidden;
    text-align: center;
}

.card_init {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.582);
    padding: 20px;
    text-align: center;
    margin: 4%;
    border-radius: 10px;
    box-shadow: var(--shadowColor);
}

#plus {
    margin-left: 5%;
    margin-top: 10%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
#plus:hover + #add_new {
    opacity: 100;
}

#plus:hover {
    transform: rotate(360deg) scale(2);
    -ms-transform: rotate(360deg) scale(2);
    -webkit-transform: rotate(360deg) scale(2);
}

#plus:active {
    opacity: 50%
}

#add_new {
    opacity: 0;
}

#new-form {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.281);
    backdrop-filter: blur(8px); 
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.formbold-mb-3 {
    margin-bottom: 15px;
  }
  .formbold-relative {
    position: relative;
  }
  .formbold-opacity-0 {
    opacity: 0;
  }
  .formbold-stroke-current {
    stroke: currentColor;
  }
  #supportCheckbox:checked ~ div span {
    opacity: 1;
  }

  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 570px;
    width: 100%;
    background: white;
    padding: 40px;
  }

  .formbold-img {
    margin-bottom: 45px;
  }

  .formbold-form-title {
    margin-bottom: 30px;
  }
  .formbold-form-title h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #07074d;
  }
  .formbold-form-title p {
    font-size: 16px;
    line-height: 24px;
    color: #536387;
    margin-top: 12px;
  }

  .formbold-input-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
  }
  .formbold-input-flex > div {
    width: 50%;
  }
  .formbold-form-input {
    text-align: center;
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
  .formbold-form-label {
    color: #536387;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
  }

  .formbold-checkbox-label {
    display: flex;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    line-height: 24px;
    color: #536387;
  }

  .formbold-btn {
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;
    margin-top: 25px;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }